table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
}

th {
    background-color: #d9d9d9;
}

.category {
    background-color: #d9d9d9;
    font-weight: bold;
}

.subcategory {
    text-align: left;
    font-weight: bold;
    background-color: #d9d9d9;
}

tr:nth-child(odd) {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color: white;
}

.name {
    background-color: #d9d9d9;
    border-left: 2px solid black;
    border-right: 2px solid black;
}

#name-top {
    border-top: 2px solid black;
}

#name-bottom {
    border-bottom: 2px solid black;
}